body {
    background-color: #f7f7f8;
}

.margin-both-16 {
    margin: 0 16px 0 16px;
}

.margin-both-24 {
    margin: 0 24px 0 24px;
}

.top-wrap {
    background-color: #ffffff;
}

.top-wrap .logo {
    font-family: 'Red Rose', cursive, sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 40px 0 24px 0;
}

.top-wrap .top-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
}

.text-info {
    margin-top: 40px;
    padding-bottom: 24px;
}

.text-info .text-who {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.text-info .text-from {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #6D7278;
    font-weight: 500;
    text-align: right;
    margin-top: 8px;
}

.category-wrap {
    margin: 24px 16px 0 16px;
}

.category-wrap .category.select {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 12px;
    padding: 8px 16px 8px 16px;
    background-color: #FFE500;
    display: inline-block;
}

.category-wrap .category {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 12px;
    padding: 8px 16px 8px 16px;
    background-color: #D8D8D8;
    display: inline-block;
}


.list-wrap {
    margin: 24px 16px 0 16px;
}

.list-wrap .card-box {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
    margin-bottom: 16px;
}

.list-wrap .card-box .card-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    padding-top: 24px;
    margin-bottom: 32px;
}

.list-wrap .card-box .card-info {
    padding-bottom: 16px;
}

.list-wrap .card-box .card-info img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
}

.list-wrap .card-box .card-info-text {
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 8px;
}

.list-wrap .card-box .card-info-text .card-from {
    color: #6D7278;
    margin-top: 8px;
    margin-bottom: 6px;
}


@media screen and (min-width: 769px) {
    .total-wrap {
        width: 100%;
        margin: auto;
    }

    .top-wrap-web {
        width: 1080px;
        margin: auto;
    }

    .bottom-wrap {
        width: 1080px;
        margin: auto;
    }

    .list-wrap {
        column-count: 3;
        column-gap: 16px;
    }

    .list-wrap .card-box {
        display: inline-block;
        margin-bottom: 24px;
        width: 100%;
    }
}

