<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='module.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap" rel="stylesheet">
    <title>여성의 말 아카이브 She Said</title>
    </head>
    <body>
        <div class="total-wrap">
            <div class="top-wrap">
                <div class="top-wrap-web margin-both-16">
                    <p class="logo">SheSaid,</p>
                    <p class="top-text">내가 얼마나 더 멀리 갈지 아무도 장담할 수 없어.</p>
                    <div class="text-info">
                        <div class="text-line"></div>
                        <p class="text-who">모아나 </p>
                        <p class="text-from">모아나(Moana, 2016)</p>
                    </div>
                </div>
            </div>
            <div class="bottom-wrap">
                <div class="category-wrap" id="keyword">
                    <p class="category" onclick="showSayings()">전체</p>
                    <p class="category select" onclick="sortSayings()">영화</p>
                    <p class="category" onclick="sortSayings()">드라마</p>
                </div>

                <div class="list-wrap" id="card-box">
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">일 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.<br/>
                                내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">이 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">삼 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">사 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">오 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.<br/>
                                내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">육 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">칠 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">팔 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>


        </div>
        <script>
            $(document).ready(function () {
                $(".category").off("click").on("click", function () {
                    if ($(this).hasClass("select")) {
                        $(this).removeClass("select");
                    } else {
                        $(this).addClass("select");
                    }
                });

                showSayings();
            });

            function showSayings() {
                $('#card-box').empty()

                $.ajax({
                    type: 'GET',
                    url: '/list',
                    data: {},
                    success: function (response) {
                        let sayings = response['sayings_list']
                        for (let i = 0; i < sayings.length; i++) {
                            let saying = sayings[i]

                            let saying_kr = saying['saying_kr']
                            let img = saying['img']
                            let who = saying['who']
                            let from = saying['from']

                            let tempHtml = `<figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">${saying_kr}</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="${img}">
                                <div class="card-info-text">
                                    <p class="card-who">${who}</p>
                                    <p class="card-from">${from}</p></div>
                            </div>
                        </div>
                    </figure>`
                            $('#card-box').append(tempHtml)
                        }

                    }
                });

            }


            function sortSayings() {
                $('#card-box').empty()

                $.ajax({
                    type: 'GET',
                    url: '/category',
                    data: {},
                    success: function (response) {
                        let sort_movie = response['sayings_list']
                        for (let i = 0; i < sort_movie.length; i++) {
                            let saying = sort_movie[i]

                            let saying_kr = saying['saying_kr']
                            let img = saying['img']
                            let who = saying['who']
                            let from = saying['from']

                            let tempHtml = `<figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">${saying_kr}</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="${img}">
                                <div class="card-info-text">
                                    <p class="card-who">${who}</p>
                                    <p class="card-from">${from}</p></div>
                            </div>
                        </div>
                    </figure>`
                            $('#card-box').append(tempHtml)
                        }

                    }
                });

            }


            // function classAdd() {
            //     var element = document.getElementsByClassName('category');
            //     element.classList.add('select');
            // }

            // function toggle() {
            //     let category = document.getElementsByClassName('category')
            //     category.classList.toggleClass('select');
            // };

            // $("#keyword > p").click(function () {
            //         $(this).toggleClass("select");
            //     }) 이렇게 하니까 갑자기 sort가 안됨;

        </script>
    </body>
</html>