<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='module.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
        <meta property="og:title" content="여성의 말 아카이브 She Said"/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content="{{ url_for('static', filename='https://shasaid.s3.ap-northeast-2.amazonaws.com/shesaid/bgimg/bgimg_01.jpg') }}"/>
        <title>여성의 말 아카이브 She Said</title>
    </head>
    <body>
        <div class="total-wrap">
            <div class="top-wrap">
                <div class="top-wrap-web margin-both-16">
                    <p class="logo">SheSaid,</p>
                    <p class="top-text">내가 얼마나 더 멀리 갈지 아무도 장담할 수 없어.</p>
                    <div class="text-info">
                        <div class="text-line"></div>
                        <p class="text-who">모아나 </p>
                        <p class="text-from">모아나(Moana, 2016)</p>
                    </div>
                </div>
                <div class="top-gradient" id="top-gradient"></div>
            </div>
            <div class="bottom-wrap">
                <div class="category-wrap" id="keyword">
                    <div class="category-scroll">
                        <p class="category select" onclick="showSayings()">전체</p>
                        <p class="category" onclick="sortSayings('영화')">영화</p>
                        <p class="category" onclick="sortSayings('드라마')">드라마</p>
                        <p class="category" onclick="sortSayings('인물')">인물 </p>
                        <p class="category" onclick="sortSayings('만화')">만화 </p>
                        <p class="category" onclick="sortSayings('책')">책 </p>
                    </div>
                </div>

                <div class="list-wrap" id="card-box">
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">일 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.<br/>
                                내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">이 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">삼 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">사 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">오 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.<br/>
                                내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">육 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">칠 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                    <figure class="card-box">
                        <div class="margin-both-24">
                            <p class="card-text">팔 내 욕망엔 계기가 없어.<br/>
                                내 욕망은 내가 만드는 거야.</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="https://search.pstatic.net/common?type=ofullfill&amp;size=137x153&amp;quality=90&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fkeypage%2Fimage%2Fdss%2F60%2F77%2F59%2F00%2F60_9775900_main_image_new_1558591252839.jpg">
                                <div class="card-info-text">
                                    <p class="card-who">배타미(임수정)</p>
                                    <p class="card-from">검색어를 입력하세요 WWW</p></div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            <!--            <div id="wrap">-->
            <!--                <a href="javascript:openModal('modal1');" class="button modal-open">모달열기1</a>-->
            <!--                <a href="javascript:openModal('modal2');" class="button modal-open">모달열기2</a>-->
            <!--            </div>-->

            <div id="modal">
                <div class="modal-wrap">
                    <a href="javascript:;" class="close">X</a>

                    <div class="modal-content" id="modal-content">
                        <p class="modal-logo">SheSaid,</p>
                        <p class="saying">내가 얼마나 더 멀리 갈지 아무도 장담할 수 없어. </p>
                        <div class="info-wrap">
                            <div class="who">모아나</div>
                            <div class="from">모아나(Moana, 2016)</div>
                        </div>
                    </div>
                    <p class="option-title">테마 </p>
                    <div class="option-wrap">

                        <div class="theme-wrap">
                            <div class="bg-color bg-color-1"><p>T</p></div>
                            <div class="bg-color bg-color-2"><p>T</p></div>
                            <div class="bg-color bg-color-3"><p>T</p></div>
                            <div class="bg-color bg-color-4"><p>T</p></div>
                            <div class="bg-color bg-color-5"><p>T</p></div>
                            <div class="bg-color bg-color-6"><p>T</p></div>
                        </div>
                    </div>
                    <a class="hover save_btn" href='javascript:void(0);'
                       onclick="PrintDiv($('#modal-content'));">
                        <div
                        ">이미지로
                        저장</div>
                </a>
            </div>
        </div>
        </div>
        <script>
            $(document).ready(function () {

                $(".category").off("click").on("click", function () {
                    if ($(this).hasClass("select")) {
                        // $(this).removeClass("select");
                        // $(".category").not($(this)).addClass("select");
                    } else {
                        $(this).addClass("select");
                        $(".category").not($(this)).removeClass("select");
                    }
                });

                let bgColor1 = document.querySelector(".bg-color-1");
                let bgColor2 = document.querySelector(".bg-color-2");
                let bgColor3 = document.querySelector(".bg-color-3");
                let bgColor4 = document.querySelector(".bg-color-4");
                let bgColor5 = document.querySelector(".bg-color-5");
                let bgColor6 = document.querySelector(".bg-color-6");

                bgColor1.addEventListener("click", colorChange1);
                bgColor2.addEventListener("click", colorChange2);
                bgColor3.addEventListener("click", colorChange3);
                bgColor4.addEventListener("click", colorChange4);
                bgColor5.addEventListener("click", colorChange5);
                bgColor6.addEventListener("click", colorChange6);

                function colorChange1() {
                    document.documentElement.style.setProperty(`--bg-color`, `rgb(255, 223, 136)`)
                    document.documentElement.style.setProperty(`--text-color`, `rgb(150, 120, 255)`)
                }

                function colorChange2() {
                    document.documentElement.style.setProperty(`--bg-color`, `rgb(167, 240, 223)`)
                    document.documentElement.style.setProperty(`--text-color`, `rgb(0, 145, 255)`)
                }

                function colorChange3() {
                    document.documentElement.style.setProperty(`--bg-color`, `rgb(165, 128, 255)`)
                    document.documentElement.style.setProperty(`--text-color`, `rgb(255, 255, 255)`)
                }

                function colorChange4() {
                    document.documentElement.style.setProperty(`--bg-color`, `rgb(255, 148, 104)`)
                    document.documentElement.style.setProperty(`--text-color`, `rgb(255, 229, 0)`)
                }

                function colorChange5() {
                    document.documentElement.style.setProperty(`--bg-color`, `rgb(177, 233, 255)`)
                    document.documentElement.style.setProperty(`--text-color`, `rgb(0, 145, 255)`)
                }

                function colorChange6() {
                    document.documentElement.style.setProperty(`--bg-color`, `rgb(255, 225, 125)`)
                    document.documentElement.style.setProperty(`--text-color`, `rgb(150, 120, 255)`)
                }

                const grad = document.querySelector('#top-gradient')
                const topOfGrad = grad.offsetTop;

                console.log(topOfGrad)

                function fixGrad() {
                    if (window.scrollY >= topOfGrad) {
                        // grad.style.paddingTop = '-' + grad.offsetHeight + 'px';
                        grad.classList.add('fixed');
                    } else {
                        // grad.style.paddingTop = 0;
                        grad.classList.remove('fixed');
                    }
                }

                window.addEventListener('scroll', fixGrad);


                showSayings();
                sortSayings();
            });


            function showSayings() {
                $('#card-box').empty()
                $.ajax({
                    type: 'GET',
                    url: '/list',
                    data: {},
                    success: function (response) {
                        let sayings = response['sayings_list']
                        for (let i = 0; i < sayings.length; i++) {
                            let saying = sayings[i]

                            let saying_kr = saying['saying_kr']
                            let saying_en = saying['saying_en']
                            let img = saying['img']
                            let who = saying['who']
                            let from = saying['from']

                            let made_id = 'card-' + i
                            let tempHtml = `<figure class="card-box" id="${made_id}" onclick="openModal('modal'); reply_click(this.id);">
                        <div class="margin-both-24">
                            <p class="card-text">${saying_kr}</p>
                            <p class="card-text-en" id="card-text-en">${saying_en}</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="${img}">
                                <div class="card-info-text">
                                    <p class="card-who">${who}</p>
                                    <p class="card-from">${from}</p></div>
                            </div>
                        </div>
                    </figure>`
                            $('#card-box').append(tempHtml)

                        }


                    }

                });

            }


            function sortSayings(category) {
                $('#card-box').empty()

                $.ajax({
                    type: 'GET',
                    url: '/category?category=' + category,
                    data: {},
                    success: function (response) {
                        let sayings = response['sayings_list']
                        for (let i = 0; i < sayings.length; i++) {
                            let saying = sayings[i]

                            let saying_kr = saying['saying_kr']
                            let saying_en = saying['saying_en']
                            let img = saying['img']
                            let who = saying['who']
                            let from = saying['from']

                            let made_id = 'card-' + i
                            let tempHtml =
                                `<figure class="card-box" id="${made_id}" onclick="openModal('modal'); reply_click(this.id)";>
                        <div class="margin-both-24">
                            <p class="card-text" id="card-text">${saying_kr}</p>
                            <p class="card-text-en" id="card-text-en">${saying_en}</p>
                            <div class="card-info">
                                <img class="list-profile"
                                     src="${img}">
                                <div class="card-info-text">
                                    <p class="card-who">${who}</p>
                                    <p class="card-from">${from}</p></div>
                            </div>
                        </div>
                    </figure>`
                            $('#card-box').append(tempHtml)

                        }

                    }
                });

            }

            //이미지(png)로 다운로드
            function PrintDiv(div) {
                div = div[0]
                // html2canvas(div, node.ownerDocument, options, options.width != undefined ? options.width : node.ownerDocument.defaultView.innerWidth, options.height != undefined ? options.height : node.ownerDocument.defaultView.innerHeight, index).then(function (canvas) {
                // html2canvas(div).then(function (canvas) {
                window.scrollTo(0, 0);
                html2canvas(div).then(function (canvas) {
                    var myImage = canvas.toDataURL('image/png');
                    downloadURI(myImage, "저장이미지이름.png")
                });
                window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
            }

            function downloadURI(uri, name) {
                var link = document.createElement("a")
                link.download = name;
                link.href = uri;
                document.body.appendChild(link);
                link.click();
            }


            function openModal(modalname) {
                document.get
                $("#modal").fadeIn(300);
                $("." + modalname).fadeIn(300);
            };


            function reply_click(clicked_id) {
                let saying = $('#' + clicked_id).find('.card-text').text();
                let who = $('#' + clicked_id).find('.card-who').text();
                let from = $('#' + clicked_id).find('.card-from').text();

                $('#modal-content').empty()
                let tempHtmlModal =
                    `<p class="modal-logo">SheSaid,</p>
                        <p class="saying">${saying}</p>
                        <div class="info-wrap">
                            <div class="who">${who}</div>
                            <div class="from">${from}</div>
                        </div>`
                $('#modal-content').append(tempHtmlModal)
            };


            $(".close").on('click', function () {
                $("#modal").fadeOut(300);
                $(".modal-con").fadeOut(300);
            });


        </script>
    </body>
</html>